version: "3.0"

services:
    beacon_node:
        image: sigp/lighthouse:testnet5
        volumes:
            - ./.lighthouse:/root/.lighthouse
            - ./scripts:/root/scripts
            - ./network:/root/network
        ports:
            - 5052:5052/tcp
            - 5053:5053/tcp
            - 9000:9000/tcp
            - 9000:9000/udp
        env_file: .env
        command: sh /root/scripts/start-beacon-node.sh
    validator_client:
        image: sigp/lighthouse:testnet5
        volumes:
            - ./.lighthouse:/root/.lighthouse
            - ./scripts:/root/scripts
        depends_on:
            - account_manager
            - beacon_node
        env_file: .env
        command: sh /root/scripts/start-validator-client.sh
    account_manager:
        image: sigp/lighthouse:testnet5
        volumes:
            - ./.lighthouse:/root/.lighthouse
            - ./scripts:/root/scripts
            - ./secrets:/root/secrets
        env_file: .env
        command: sh /root/scripts/create-validators.sh
    geth:
        build:
            context: geth
        volumes:
            - geth:/root/.ethereum
            - ./scripts:/root/scripts
        env_file: .env
        ports:
            - 30303:30303/tcp
            - 30303:30303/udp

volumes:
    geth:
